* {
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.sectionHolder {
    width: 75vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sectionContainer {
    width: 100%;
    font-size: 16pt;
}

#me h1 {
    font-size: 40px;
    margin-bottom: 0;
    overflow: hidden;
}
#me p {
    margin: 0;
    font-size: 28px;
    margin-bottom: 10px;
    overflow: hidden;
    
}

#me li {
    display: inline;
    font-size: 20pt;
    clear: left;
    padding: 20px;
    color: #727272;
}

#me li:hover {
    color: #4f4f4f;
    cursor: pointer;
}

#projects {
    display: none;
}

#hire {
    display: none;
}

.item {
    width: 100%;
}

.header {
    font-weight: bold;
    font-size: 20pt;
}
.item-desc {
    font-size: 16pt;
}

.certContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cert {
    width: 250px;
}
.cert-image {
    width: 250px;
}
.cert-title {
    font-size: 18pt;
    font-weight: bold;
}

.experienceItem {
    width: 100%;
}

.footer {
    margin-top: 10px;
    height: 50px;
}

.footer a {
    padding-left: 15px;
    font-size: 14pt;
    display: inline;
}

.aside {
    font-size: 14pt;
    color: #9a9a9a;
}