body main {
    grid-column: span 3;
    -ms-grid-column-span: 3;
}

@font-face {
    font-family: "Zed"; /*a name to be used later*/
    src: url("/assets/fonts/zed.ttf"); /*URL to font*/
    font-display: optional;
}

@media (min-width: 1300px) {
    body main {
        grid-column: span 2;
        -ms-grid-column-span: 2;
    }
}

main img {
    width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font), serif;
    font-weight: 500;
    margin-bottom: 0.85rem;
    font-weight: 500;
    padding-top: 1rem;
}

h3 {
    font-size: 1.35rem;
}

p {
    font-size: 1rem;
}

p,
pre,
ul {
    margin-bottom: 0.75rem;
}

ul > li > ul > li > ul {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

main p {
    line-height: 1.5rem;
}

main li {
    margin-bottom: 0.25rem;
}

pre {
    overflow-x: scroll;
    border-radius: 0.25rem;
}

pre code > span:first-of-type {
    padding-top: 1rem;
}

pre code > span:last-of-type {
    padding-bottom: 1rem;
}

pre code > span {
    padding-left: 0.5rem;
}

pre code {
    border-radius: 0.5rem;
}

code {
    font-family: "Zed", monospace;
    background-color: #c7c3b3;
    text-wrap: nowrap;
}

a {
    color: #6d18f5;
}

a.headerPermalink {
    color: #787568;
    text-decoration: none;
    transition: 200ms;
}

a.headerPermalink:hover {
    transition: 200ms;
    color: #6d18f5;
}

figure figcaption {
    margin-top: 0.5rem;
    text-align: center;
}

main li {
    padding-left: 0.5rem;
}

strong {
    font-weight: 500;
}
