<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/assets/style.css" />
        <link rel="stylesheet" href="/assets/post.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link
            href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />

        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{.OGImageURL}}" />
        <meta property="og:image:secure_url" content="{{.OGImageURL}}" />
        <meta property="og:description" content="{{.Summary}}" />
        <meta name="description" content="{{.Summary}}" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <title>{{ .Title }} - Kenton Vizdos</title>

        <script>
            !(function (t, e) {
                var o, n, p, r;
                e.__SV ||
                    ((window.posthog = e),
                    (e._i = []),
                    (e.init = function (i, s, a) {
                        function g(t, e) {
                            var o = e.split(".");
                            2 == o.length && ((t = t[o[0]]), (e = o[1])),
                                (t[e] = function () {
                                    t.push(
                                        [e].concat(
                                            Array.prototype.slice.call(
                                                arguments,
                                                0,
                                            ),
                                        ),
                                    );
                                });
                        }
                        ((p = t.createElement("script")).type =
                            "text/javascript"),
                            (p.crossOrigin = "anonymous"),
                            (p.async = !0),
                            (p.src =
                                s.api_host.replace(
                                    ".i.posthog.com",
                                    "-assets.i.posthog.com",
                                ) + "/static/array.js"),
                            (r =
                                t.getElementsByTagName(
                                    "script",
                                )[0]).parentNode.insertBefore(p, r);
                        var u = e;
                        for (
                            void 0 !== a ? (u = e[a] = []) : (a = "posthog"),
                                u.people = u.people || [],
                                u.toString = function (t) {
                                    var e = "posthog";
                                    return (
                                        "posthog" !== a && (e += "." + a),
                                        t || (e += " (stub)"),
                                        e
                                    );
                                },
                                u.people.toString = function () {
                                    return u.toString(1) + ".people (stub)";
                                },
                                o =
                                    "init capture register register_once register_for_session unregister unregister_for_session getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures on onFeatureFlags onSurveysLoaded onSessionId getSurveys getActiveMatchingSurveys renderSurvey canRenderSurvey canRenderSurveyAsync identify setPersonProperties group resetGroups setPersonPropertiesForFlags resetPersonPropertiesForFlags setGroupPropertiesForFlags resetGroupPropertiesForFlags reset get_distinct_id getGroups get_session_id get_session_replay_url alias set_config startSessionRecording stopSessionRecording sessionRecordingStarted captureException loadToolbar get_property getSessionProperty createPersonProfile opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing debug getPageViewId captureTraceFeedback captureTraceMetric".split(
                                        " ",
                                    ),
                                n = 0;
                            n < o.length;
                            n++
                        )
                            g(u, o[n]);
                        e._i.push([i, s, a]);
                    }),
                    (e.__SV = 1));
            })(document, window.posthog || []);
            posthog.init("phc_FR3wM2xMD5StKjesbDf0B0seeJQ8bY9UMdoL6YM7Vat", {
                api_host: "https://us.i.posthog.com",
                person_profiles: "identified_only", // or 'always' to create profiles for anonymous users as well
            });
        </script>
    </head>
    <body>
        <header class="full-center">
            <a href="/"
                ><img alt="selfie of Kenton" src="/assets/icon.webp"
            /></a>
            <div>
                <h1>Kenton Vizdos</h1>
                <p>
                    i make cool things in go. this is my dev log. note: it's not
                    a technical masterpiece, I just like writing (sometimes
                    poorly) about what I learn!
                </p>
                <div id="social">
                    <a href="https://bsky.app/profile/kv.codes" class="bsky">
                        <img alt="bluesky logo" src="/assets/bsky.svg" />
                        <p>give me some feedback on bluesky: @kv.codes</p></a
                    >
                </div>
            </div>
        </header>
        <h1 id="title" class="full-center">{{.Title}}</h1>
        <div class="mobile-hide"></div>

        <aside>
            <a class="home mobile-hide" href="/"><- All Posts</a>
            <p class="title">Table of Contents</p>
            {{ .ToC }}

            <p class="title mobile-hide">Tags</p>

            <div id="tags">
                {{ range .Tags }}
                <a
                    href="/tags/{{ TagToURL . }}"
                    alt="Posts tagged with {{ . }}"
                    class="tag"
                    >{{ . }}</a
                >
                {{ end }}
            </div>

            <button id="share">Share this Post</button>
        </aside>
        <main>{{.Body}}</main>

        <footer class="full-center">
            <div id="linkedin">
                <img src="/assets/linkedin.png" alt="LinkedIn logo" />
                <div>
                    <p id="title">Let's Connect on LinkedIn</p>
                    <p>
                        I post what I'm learning as I go, follow along if you're
                        into real-world technical deep dives.
                    </p>
                </div>
            </div>

            <p style="margin-top: 3rem">
                &copy; {{.Date}} Kenton Vizdos. Unless otherwise noted, all blog
                posts, photos, graphics, presentations, and other media are
                published under a
                <a
                    href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"
                    >CC BY-NC-SA 4.0</a
                >
                license. Unless otherwise noted, all code snippets are available
                under the
                <a href="https://spdx.org/licenses/Unlicense.html">Unlicense</a
                >. This website is
                <a href="https://github.com/kvizdos/kvizdos.github.io"
                    >open source</a
                >.
            </p>
        </footer>

        <script>
            const shareBtn = document.querySelector("#share");
            const shareData = {
                title: "{{.Title}}",
                text: "I just learned some cool things from kv.codes:",
                url: "https://kv.codes/post/{{.OGName}}",
            };

            const btn = document.querySelector("button");
            const resultPara = document.querySelector(".result");

            if (!navigator.share) {
                shareBtn.innerText = "Copy Post Link";
            }

            // Share must be triggered by "user activation"
            shareBtn.addEventListener("click", async () => {
                if (navigator.share) {
                    try {
                        await navigator.share(shareData);
                        posthog.capture("post_shared", {
                            post_title: "{{.Title}}",
                        });
                    } catch (err) {
                        posthog.capture("post_share_cancelled", {
                            post_title: "{{.Title}}",
                        });
                    }
                    return;
                }

                // Fall Back
                try {
                    await navigator.clipboard.writeText(
                        `https://kv.codes/post/{{.OGName}}`,
                    );
                    alert(
                        "I copied the link to your clipboard! Thanks for sharing.",
                    );
                } catch (err) {
                    console.error("Failed to copy text: ", err);
                }
            });

            const linkedinBtn = document.querySelector("#linkedin");
            linkedinBtn.addEventListener("click", async () => {
                posthog.capture("social_click", {
                    platform: "LinkedIn",
                    from: "{{.Title}}",
                });
                window.location.href =
                    "https://www.linkedin.com/in/kentonvizdos";
            });
        </script>
    </body>
</html>
